.title {
  color: #004248;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.inputContainer {
  position: relative;
  margin: 0.8rem 0;
}

.label {
  padding: 0 0.9rem;
  color: #0296a1;
  font-size: 1rem;
  border: 1px solid gold;
}

.textLabel {
  top: 1rem;
  transform: translateY(0);
}
